<section>
    <h2>Share Provider Information</h2>

    <form class="new-post-form">
        <div>
            <label for="provider-name">Provider Name</label>
            <input type="text" id="provider-name" name="provider-name" />
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" />
        </div>
        <div>
            <label for="post-url">Provider Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <div>
            <label for="service_type">Type of Service</label>
            <input type="text" id="service_type" name="service_type" />
        </div>
        <div>
            <label for="cost">Service Cost:</label>
            <input type="number" id="cost" name="cost" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit provider</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>