<h2>Let us know how we can help!</h2>
<form class="help-form">
    <div>
        <label for="help_name">Name:</label>
        <input type="text" id="help_name" name="help_name" />
    </div>
    <div>
        <label for="help_email">Email:</label>
        <input type="text" id="help_email" name="help_email" />
    </div>
    <div>
        <label for="help_message">Message:</label>
        <input type="text" id="help_message" name="help_message" />
    </div>
    <button type="submit">Submit</button>
</form>



<script src="/javascript/help.js"></script>