<h2>Provider Information</h2>
<div class="container">
<ul class="post-list row">
    {{#each posts as |post|}}
    <li class="col-6">
        {{> post-info post }}
    </li>
    {{/each}}
</ul>
</div>