<h2>Services Information</h2>
<div class="container">
<ul class="services-list row" style="list-style: none">
    {{#each services as |service|}}
    <li class="col-sm-12 col-md-6 col-lg-6 my-3">
        {{> service-info service}}
    </li>
    {{/each}}
</ul>
</div>
