<div class="container">
    <div class="row">


        <form class="signup-form col-6">
            <h3 class="mb-3">Sign Up</h3>
            <div>
                <label for="provider_name-signup">Provider Name:</label>
                <input type="text" id="provider_name-signup" />
            </div>
            <div>
                <label for="provider_url-signup">Provider Website:</label>
                <input type="text" id="provider_url-signup" />
            </div>
            <div>
                <label for="email-signup">Email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <label for="address-signup">Address:</label>
                <input type="text" id="address-signup" />
            </div>
            <div>
                <label for="address_city-signup">Address City:</label>
                <input type="text" id="address_city-signup" />
            </div>
            <div>
                <label for="address_state-signup">Address State:</label>
                <input type="text" id="address_state-signup" />
            </div>
            <div>
                <label for="address_zip-signup">Address Zip:</label>
                <input type="text" id="address_zip-signup" />
            </div>
            <div>
                <label for="specialization-signup">Specialization:</label>
                <input type="text" id="specialization-signup" />
            </div>
            <div>
                <button type="submit">signup</button>
            </div>
        </form>

        <form class="login-form col-6">
            <h3 class="mb-3">Login</h3>
            <div>
                <label for="email-login">email:</label>
                <input type="text" id="email-login" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit">login</button>
            </div>
        </form>
    </div>
</div>


<script src="/javascript/login.js"></script>